.logoContainer
{
    min-width: 172px;
    height: 65px;
}

body {
    font-family: 'Inter', sans-serif;
}

.logoContainer img
{
    width: 100%;
    height: 100%;
}

.header
{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    gap:8px;
    align-items: center;
    max-width: 1440px;
    width: 100%;

}

.locationContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50px;
    border-radius: 12px;
    background-color: #2D2B37;
    min-width: 192px;
}

.locationIcon
{
    width: 27px;
    height: 27px;
    color:#CDCDCD;
}

.downIcon
{
    width: 11px;
    height: 7px;
    color:#4A4A4A;
}


.location
{
    display: flex;
    flex-direction: column;
}

.location h6
{
    font-size: 13px;
    font-weight: 600;
    margin: 0px;
    color:#828282;
}



.location p
{
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    color:#C9C9C9;
}


.searchContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    padding: 0px 16px;
    border-radius: 12px;
    background-color: #2D2B37;
    flex-grow: 1; /* Allow the search container to grow */
    max-width: 691px;
    box-sizing: border-box;
    width: 100%; /* Use 100% width to make it responsive */
    min-width: 200px; /* Set a minimum width to prevent it from becoming too small */
}

.searchContainer input {
    border: none;
    font-size: 13px;
    background-color: transparent;
    padding: 0px;
}

.searchContainer input::placeholder {
    color: #CDCDCD; /* Change this to your desired color */
}

.searchContainer img{
    width: 24px;
    height:24px;
    color:#CDCDCD;
    
}


.wishListContainer
{
    display: flex;
    align-items: center;
    gap: 8px;
    height:50px;
    border-radius: 12px;
    background-color: #2D2B37;
    min-width: 124px;
    justify-content: center;
}

.wishListContainer p
{
    margin:0px;
    font-size: 15px;
    font-weight: 600;
    color:#CDCDCD;

}

.wishListContainer img
{
    width: 24px;
    height: 24px;
    color:#CDCDCD;
}
.cartContainer {
    display: flex;
    align-items: center;
    gap: 8px;height: 50px;
    border-radius: 12px;
    background-color: #2D2B37;
    min-width: 50px;
    justify-content: center;
    position: relative; /* Add this line */
}

.cartContainer p {
    position: absolute; /* Change this line */
    top: 4px; /* Adjust this value to position the number above the cart */
    right: 16px; /* Adjust this value to position the number above the cart */
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: #FF9B02;
}

.cartContainer img {
    width: 40px;
    height: 27px;
    color: #FFF;
}


.imageContainer
{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    border-radius: 12px;
    background-color: #FF9B02;
    width: 50px;
    justify-content: center;
    
}

.imageContainer img
{
    width: 42px;
    height:48px;
    border-radius: 12px;
}

.profileContainer
{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 50px;
    border-radius: 12px;
    justify-content: center;
    width: 96px;
}


.profileContainer p
{
    margin:0px;
    font-size: 15px;
    color:#CDCDCD;
}

.subHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding: 12px 0px 12px 0px;
}

.subHeader p
{
    font-size: 17px;
    color:#fff;
    margin: 0px;
}

.subHeader img
{
    width: 42px;
    height: 42px;
    color:#fff;
}

.lineDivider
{
    width: 100%;
    height: 1px;
    background-color: #352F48;
}


.headerContainer
{
    gap:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1C1A23;
    width: 100%;
}


/* Sidebar styling */
.sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C1A23;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebarContent {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

.sidebar h2 {
    color: #f1f1f1;
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    margin: 0;
}

.link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.closeBtn {
    position: absolute;
    top: 16px;
    text-decoration: none;
    font-size: 34px;
    color: #fff;
    display: block;
    transition: 0.3s;
    right: 25px;
    margin-left: 50px;
}

/* Hamburger menu icon styling */
.hamburgerMenu {
    cursor: pointer;
}

#seeAllButton {
    padding: 8px 8px 8px 32px; /* Match the padding of the links */
    font-size: 18px; /* Match the font size of the links */
    cursor: pointer;
    background-color: transparent;
    color: #818181;
    border: none;
    text-decoration: underline;
    display: block; /* Ensure it behaves like a block element */
    text-align: left; /* Align text to the left */
}

#categoryLinks a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#categoryLinks a:hover {
    color: #f1f1f1;
}